<input spellcheck="true" [value]="formState[Id].value" (input)="handleTyping($event)" (focus)="onChangingFocusedInput.emit()" (keydown)="handleKeyDown($event)" #inputReference
[type]="setting.type" [placeholder]="setting.placeholder" [class]="setting.inputClass"
[ngClass]="{'invalid-input': formState[Id].isAllErrorsResolved === false, 'correct-input': formState[Id].isAllErrorsResolved === true}"/>


<div *ngFor="let data of formState[Id].dynamicAddedData">
  {{data.displayValue}}
</div>

<button (click)="addIntoValuesList()" type="button" [disabled]="isLoadingData">
  Add into table
</button>

<ul *ngIf="formState[Id].isAllErrorsResolved">
  <li (dblclick)="selectRow(item.value, i, inputReference, true)" (click)="selectRow(item.value, i, inputReference, false)" *ngFor="let item of formState[Id].dataList; let i = index">{{item.displayValue}}</li>
</ul>

<span *ngIf="isLoadingData">Trwa ładowanie...</span>

