<form [class]="formClass" (submit)="submit($event)">

  <div [class]="setting.inputContainerClass" *ngFor="let setting of settings; let i = index">
    <label *ngIf="setting.label !== ''">
      {{state.label}}
    </label>
    

    
    <ng-container *ngIf="setting.mode === 'select-and-type'">
      <input spellcheck="true" [value]="formState[i].value" (input)="handleTyping($event, i)" list="select-items" (focus)="changeFocusedInput(i)"
      [type]="setting.type" [placeholder]="setting.placeholder" [class]="setting.inputClass"
      [ngClass]="{'invalid-input': formState[i].isAllErrorsResolved === false, 'correct-input': formState[i].isAllErrorsResolved === true}"/>

        <datalist id="select-items">
            <option *ngFor="let item of formState[i].dataList" [value]="item.value">
              {{item.displayValue}}
            </option>
        </datalist>
    </ng-container>

    <ng-container *ngIf="setting.mode === 'filter-search'">
      <input spellcheck="true" [value]="formState[i].value" (input)="handleTyping($event, i)" [class]="setting.inputClass"
      [ngClass]="{'invalid-input': formState[i].isAllErrorsResolved === false, 'correct-input': formState[i].isAllErrorsResolved === true}"
      (focus)="changeFocusedInput(i)"
      [type]="setting.type" [placeholder]="setting.placeholder"
       />    
    
    </ng-container>

    <ng-container *ngIf="setting.mode === 'custom-select'">
      <select [class]="setting.inputClass" (input)="handleTyping($event, i)" [ngClass]="{'invalid-input': formState[i].isAllErrorsResolved === false, 'correct-input': formState[i].isAllErrorsResolved === true}">
        <option *ngFor="let item of formState[i].dataList" [value]="item.value">
          {{item.displayValue}}
        </option>
      </select>
    </ng-container>

    <ng-content *ngIf="setting.mode === 'content-input'">
    </ng-content>

    <ul [class]="errorClasses" *ngIf="currentFocusedInputIndex === i && formState[i].isAllErrorsResolved === false">
      <li *ngFor="let error of formState[i].errors">
        <span>
          {{error.content}}
        </span>
        <i *ngIf="error.isError" class="material-icons">
          close
        </i>
        <i *ngIf="!error.isError" class="material-icons">
          check
        </i>
      </li>
    </ul>
  </div>

  <button [disabled]="!isFormReadyToSubmit" [type]="btnType" [class]="submitButtonClass">{{submitButtonTitle}}</button>
</form>